Scratch/
.DS_Store
*.sublime-workspace
*.slink.*
__pycache__
StyleSheets/SystemSheets
StyleSheets/UserSheets
Prelude/Data/*.mx
Data/Sublime/StaticFiles/LibraryKinds.wlsyms
Data/Sublime/StaticFiles/WolframLanguage.sublime-completions
Data/Sublime/StaticFiles/WolframLanguage.sublime-syntax
Data/User
Data/Cache
Data/System/*.mx
*.nb
*.wip/
*.wip.*
*.old.*