Scratch/
.DS_Store
*.sublime-workspace
SoftLinks
Data/SublimeSyntax/StaticFiles/WolframLanguage.sublime-completions
Data/SublimeSyntax/StaticFiles/WolframLanguage.sublime-syntax
Data/SublimeSyntax/UserSymbols